<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Administration</h1>
                <p>
                    CONFIG:
                    <form action="/admin" method="post">

                                <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Exchange name</span>
                        <input type="text" class="form-control" name="exchange_name" value="<%= config.exchange%>">
                    </div><br/>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Api Key</span>
                        <input type="text" class="form-control" name="exchange_api_key" value="<%= config.api_key%>">
                    </div><br/>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Api Secret</span>
                        <input type="text" class="form-control" name="exchange_api_secret" value="<%= config.api_secret%>">
                    </div><br/>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Whitelist)</span>
                        <input type="text" class="form-control" name="exchange_whitelist" value="<%= config.whitelist%>">
                    </div><br/>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Blacklist</span>
                        <input type="text" class="form-control" name="exchange_blacklist" value="<%= config.blacklist%>">
                    </div><br/>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Historic time (min)</span>
                        <input type="text" class="form-control" name="exchange_history" value="<%= config.history%>">
                    </div><br/>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Time gap (min)</span>
                        <input type="text" class="form-control" name="exchange_gap" value="<%= config.gap%>">
                    </div><br/>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon3">Worker Nb</span>
                        <input type="text" class="form-control" name="exchange_worker" value="<%= config.worker%>">
                    </div><br/>

                    <div class="btn-group" role="group" aria-label="...">
                        <button type="submit" name="add" class="btn btn-default">Add to lists</button>
                        <button type="submit" name="replace" class="btn btn-default">Replace Config</button>
           </div>
                    </form>
                </p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
