<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/static/css/histogram.css">
    </head>
    <body class="container">
        <script src="/static/js/d3.v4.min.js"></script>
        <script src="/static/js/numeral.min.js"></script>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron shadow rounded">
                <h1>Welcome!</h1>
                <p>Version: <%= data.version%><br/> sputnik will make sure that you have an updated and complete copy of markets data.<br/>Check out the admin page to continue setup</p>
                <p>The database currently has 
                    <script>
                        document.write(numeral(<%= data.dataCount %> ).format('0.0a'))
                    </script>
                     candle points from <%= data.marketsCount %> markets, for an average of 
                    <script>
                        document.write(numeral(<%= (data.dataCount/data.marketsCount).toFixed() %> ).format('0.0a'))
                    </script>
                     candles/market.
                     <div id="histogram" class="mt-4"></div>
                </p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
            <script src="/static/js/histogram.js"></script>
            <script>
                new_data(<%- JSON.stringify(data.dataCountByMarket)%>)
            </script>
        </footer>

    </body>
</html>
