<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron shadow rounded">
                <form class="form-signin" action="/login" method="post">
                    <div class="text-center mb-4">
                        <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
                        </div>
                    
                      <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="username">
                        <label for="inputEmail">Email address</label>
                      </div>
                    
                      <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="password">
                        <label for="inputPassword">Password</label>
                      </div>
                    

                      <button class="btn btn-lg btn-outline-primary btn-block" type="submit" name="login">Login</button>
                      <button class="btn btn-lg btn-outline-primary btn-block" type="submit" name="signup">Sign up</button>
                </form>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
