<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/static/css/chart_brush.css">

    </head>
    <body class="container">
        <script src="/static/js/d3.v4.min.js"></script>
        <script src="/static/js/techan.min.js"></script>
 
     <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron shadow rounded">
                <h1>Markets</h1>
                <h6>Choose a market to compare</h6>
                <form action="/markets" method="get">
                    <div class="form-row mb-4">
                        <div class="col-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Market</span>
                                    </div>
                                    <select name="market" class="custom-select">
                                        <% for (const [i, market] of data.markets.entries()) { %>
                                            <option value="<%= market.id%>" <%= market.id == data.market ? "selected" : "" %>>
                                                <%= market.name %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Timeframe</span>
                                    </div>
                                    <select name="timeframe" class="custom-select">
                                        <% for (const [i, timeframe] of data.timeframes.entries()) { %>
                                            <option value="<%= i %>" <%= data.timeframe == i ? "selected" : "" %>>
                                                <%= timeframe %>
                                            </option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 offset-md-1">
                            <button class="btn btn-outline-success">Show graph</button>
                        </div>
                    </div>
                    <div id="bigChart" class="bg-white"></div>
                </form>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
            <div>
                <script src="/static/js/market_chart_brush.js"></script>
                <script>
                new_data(<%-n%>)
                </script>
            </div>
        </footer>
            </body>
</html>
