.bar {
    fill: #4682b4;
  }
  
  .bar:hover {
    fill: #17bf3c;
  }
  
  .axis {
    font-family: "Lobster";
    font-size: 12px;
  }
  
  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000;
  }
  
  .x.axis path {
    display: none;
  }
  
  .y.axis text {
    fill: #000;
  }
  
  .tooltip {
    background: #b0c4de;
    border: 0;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    padding: 2px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 120px;
  }
  