<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow p-3 mb-5 rounded" role="navigation">
    <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-certificate"></span>
        sputnik
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
            <li class="nav-item"><a class="nav-link" href="/markets">Markets</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin">Admin</a></li>
        </ul>
    </div>
</nav>