<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>sputnik</title>

<!-- CSS (load bootstrap from a CDN)
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
 body    { padding-top:50px; }
</style>
<link rel="stylesheet" href="/static/css/forms.css">
